[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Humboldt-WI/bads/blob/master/python_data_science1o1.ipynb)

# Python for Data Science 1o1

## Table of Contents

Welcome to our Python for Data Science 1o1 notebook. This notebook is designed for self-study. It coveres a broad set of concepts that you will see in the BADS module and, more generally, when using Python in a data science context. Overall, the following topics are covered:

1.   Jupyter Notebook
2.   Common Math Functions
3.   Using Variables
4.   Data Types
5.   More About Object-Oriented Programming (OOP)
6.   If-Statements and Loops
7.   Dictionaries
8.   Functions
9.   Libraries
10.   Getting Help
11.  NumPy
12.  Pandas Series
13.  Pandas DataFrame
14.  Random Number Generation

# Jupyter Notebook

The Jupyter Notebook is one common place along with Google Colabs where we recommend creating your code. Notice that the notebook is composed of multiple cells of code and text. It is advised to use these in combination to ensure that each one of your projects is easy to follow.

## Cell Types

There are two types of cells in a Jupyter notebooks and many other Python editing platforms. These are text cells (more formally called markdown cells) and code cells. Text cells (like this one) are to explain the context of the code or a data science concept and walk readers through logic or background information. Text cells support basic formatting including **bolding**, _italics_, ```code snippits``` but also  lists, indented text and more (see, e.g., [https://www.markdownguide.org/cheat-sheet/](https://www.markdownguide.org/cheat-sheet/)). 

Code can then be run sequentially as readers review the notebook and go through the text cells. Outputs of these cells can be saved too so they do not have to be run again. However, if the local machine didn't just run the code and there are no saved values for it to load, the results may need to be run the full way through again to be replicated.

You can change the cell content with 'm' for markup and 'y' for code. Remember that you need to be in selection (or command) mode.

## Editing Cells

Cells have multiple modes. When the cell marker is blue, you can select cells with the keyboard arrows and handle them by creating new cells, moving, copying or deleting them. When you press 'Enter' while selecting a cell, you jump into editing mode and can change the content of a cell, e.g. by writing code.

The types of actions you can perform are listed under Help > Keyboard shortcuts:

*   New cells are inserted with a (above) or b (below)
*   Cells can be c copied, x cut and v pasted
*   Cells are deleted by pressing d two times
*   To run a cell and select the next cell: Shift + Enter
*   While typing, use Tab to finish the object name for you and Shift + Tab to see the documentation 

It is worth remembering the shortcuts to work efficiently. There are other commands like having your code start with '!' so Python runs the command in command prompt or '%' which indicates that the next function's argument will be the entire line (similarly, '%%' means the function's argument is the entire cell). More about functions will come up shortly.

Familiarise yourself with these functions before you continue.

# Common Math Operations

Let's first use Python as a calculator and see how it behaves. Notice the cells of code as mentioned earlier. Cells often only display one output although all lines of code are executed. If you'd like it to produce multiple at once, it can be useful to use the print command as shown at the end. Python will explicitly print all outputs in any print command (even if there are multiple).

By adding the character '#', you are telling Python to ignore the following characters on the same line. This is called creating a **comment** and can be very useful to explain your code to others.

In [ ]:
1+1 # Python will ignore everything after '#'

In [ ]:
333/10

In [ ]:
333 // 10 # returns you the floor of the quotient (result of the division rounded down to the nearest integer)

In [ ]:
1+1/2 # Python follows order of operations

In [ ]:
333 % 10 # returns remainder of the division

In [ ]:
3 ** 3 # Python uses '**' instead of '^' for exponents

In [ ]:
pow(2,3) # pow(base, exponent) can also raise numbers to an exponent. We will talk more about functions soon

In [ ]:
print(1+1, 2+2) # if you need to print multiple items, separate them with a ',' in the print() function. You can also call print() multiple times

In [ ]:
# Understanding check: produce the output of 4 to the power of 2 AND the floor of 12421 divided by 11 in ONE LINE in this cell

# answer: print(pow(4,2), 12421 // 11)

# Using Variables

One very useful feature of nearly every programming language is the ability to give a fixed name to variables. Simply use the formula:

```
variable_name = desired_value
```



**Note:** Your variable names MUST NOT begin with a number, include a dash or space.

After this, every time you type the variable name, Python will refer to the value it has been assigned. If the same variable name is ever used, the value will be overwritten.

Python will consider all types of text as some kind of variable or command. If you ever want to create or reference actual text, it must be between quotation marks. This is called a string in Python. If you want Python to ignore text all together, use '#' to indicate a comment.

In [ ]:
a = 1 # all future cells will now refer to a as 1
b = 2 # similarly, all future cells will refer to b as 2

a+b

In [ ]:
a, b = 1, 2 # assigns variables above in the same way but in one line

a+b

In [ ]:
a = z = 1 # another way to assign multiple variables of the same value

z

In [ ]:
print(a)

In [ ]:
a*5

In [ ]:
b ** 5 # remember '**' means exponent

In [ ]:
a = 500 # if you use the same variable name again, you overwrite the previous value

a+b

In [ ]:
# By default, Python only displays the last line of output from a cell

a*b # This line will be executed in Python, but since the next line causes an output and it comes afterwards, only its output will be displayed

a+b

In [ ]:
print(a*b, a+b) # using print and a comma separating items will print everything

In [ ]:
#Can I just write? # this will generate an error because Python will try to look up the value assigned to each word as a variable and find nothing

In [ ]:
a = "you can't add strings to numbers" # if you want to generate text for Python to store in memory, use quotation marks around the text to create a string (str for short)

print(a)

In [ ]:
b = ", but you can add strings together!"

a+b # you can even concatenate (attach) strings if you'd like

In [ ]:
# Understanding check: assign the number 42 to the variable named meaning_of_life, then find the remainder of the division of meaning_of_life by 10

# meaning_of_life = 42
# meaning_of_life % 10

In [ ]:
# Understanding check: assign the string 'Dude, Where's My Car?' to the variable movie_name, multiply this movie_name by 3, what happens?

# movie_name = "Dude, Where's My Car?"
# movie_name*3

# Data Types

There are _many_ data types in Python. To check the type of an object, use the function `type( )`.


The most common ones that you will encounter as a data scientist are:


*   integer (eg. 100)
*   float (eg. 100.0)
*   string (eg. 'Hello World!')
*   boolean (eg. True)
*   list (eg. ['one', 'two', 'three'] )
*   tuples (eg. ('one', 'two', 'three') )
*   range (eg. range(0,9,3) )
*   dictionary (eg. {'mammal': 'platypus', 'fish': 'eel'} )
*   NumPy array
*   Pandas Series (in future demo notebooks)
*   Pandas DataFrame (in future demo notebooks)

Aside from these, you will definitely see many more. Let's explore these a bit.

## Integers and Floats

These are going to likely be the most common types that you will encounter. **Integers are whole numbers** while **floats contain decimals**.

In [ ]:
a = 5

b = 5.0

print(type(a), type(b)) # integers have no decimals while floats do

In [ ]:
int(b) # converts b to an integer, note that if we do not assign this back to b by executing 'b=int(b)', b will not change

In [ ]:
b = int(b)

b

## Strings

Strings are like pieces of text. They are always enclosed between quotation marks, single or double quotes both work. You can convert numbers to strings too. Note that they will now have all the properties of strings.

In [ ]:
c = "any text between single or double quotes is a string" # you can use single or double quotes around strings
d = 'any text between single or double quotes is a string'

In [ ]:
a = str(a) # if we want to turn the number that we assigned to a into a string, we can use the str( ) function

a*10 # now instead of 5*10, Python is performing '5'*10 so it will paste '5' 10 times

In [ ]:
a = int(a) # you can change a string back to a number back by using int() or float()

a*10

In [ ]:
print(c[0], c[2]) # you can find the nth letter in a string by enclosing n-1 in square brackets (since Python starts counting at 0)

In [ ]:
len(c) # gives you the number of characters in the string, this will be useful in Natural Language Processing (NLP) and more

Other tricks with strings can be found here: https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

## Booleans

**Booleans** take on two possible values (pay attention to capitalisation):
*    `True`
*    `False`

These can be used to evaluate conditions. To check if something is equal and get a Boolean value, use `==`. Recall that `=` assigns variables. You can also create conditions using `<`, `>` and:

*   `>=` greater than or equal to
*   `<=` less than or equal to
*   `!=` not equal to
*   `is` and `is not` also yield Booleans, however they require exact identity matches unlike `==` and `!=` .

Keep in mind, many other functions and syntax return Boolean values. For example, there is the function ``` isinstance(x, var_type) ``` which returns the corresponding Boolean value if variable x is equivalent to the type specified. Always check functions' outputs so you can handle their data types in an effective way.

`True` also corresponds to the value `1` while `False` corresponds to `0`.

In [ ]:
e = 5

f = 5.00

print(e>f, e==f,  e>=f, e!=f)

In [ ]:
print(e is f) # note that since e is not the exact same as f, "is" returns False

In [ ]:
c = "any text between single or double quotes is a string"
d = 'any text between single or double quotes is a string'

print(c == d) # as mentioned, even though the second uses single quotations, it is equivalent in Python

In [ ]:
print(isinstance(c, str)) # many functions may return Boolean values like this one which checks if variable c is a string (use the short form str)

In [ ]:
print(True == 1, False == 0) # the Boolean value of True is equal to 1, similarly, the Boolean value of False is equal to 0. 
# this will be useful for categorical variables.

In [ ]:
# Python only recognizes False and True as a Boolean value, FALSE and false (TRUE and true) are considered possible variable names.
print(type(False), type(True))

In [ ]:
# print(type(FALSE)) # only False works as a boolean value, otherwise, Python thinks it's a variable

We can combine conditions with:
*    `and` (all must be satisfied)
*    `or` (at least 1 must be satisfied)
*    `not` (reverses result)

In [ ]:
p = 1
q = 2

p > q and p < q # since both must be satisfied, but each is mutually exclusive in this case, this must be False

In [ ]:
p > q or p < q # since one of these is true, it is True

In [ ]:
not (p == q) # the expression in brackets is False but 'not' reverses that

## Lists, Indexing & Slicing

**Lists** are a sequenced container of items. Items can be of virtually any type (strings, other lists, tuples, integers...). Lists are created by putting contents sequentially in square brackets separated by commas. You can initialize an empty list to be filled by putting an empty set of square brackets.

Each item in a list has a uniquely callable position which is called an **index**. Indices can be labelled but can always be referred to by number as well. Numbering in Python always starts at 0. So, to access the first item in a list, you must call `list_name[0]`.  This is called Zero-Based Indexing and differs from programming languages like R, which use One-Based Indexing.

In [ ]:
just_some_empty_list = [] # initalizing empty lists will be useful later on, this simple trick is worth remembering for loops later

type(just_some_empty_list)

In [ ]:
whats_in_my_fridge = ['cucumber', 'pasta sauce', 'leftovers', 'margarine', 'tomato'] # create a list just putting items between square brackets separated by commas, you could even create a list of lists!

whats_in_my_fridge[0] # calls first element of list or the item at index 0

In [ ]:
whats_in_my_fridge[-1] # items can be called using negative numbers, the final item in the list is index -1, second last is -2 and so on

In [ ]:
whats_in_my_fridge[1] = 'kartoffelsalat' # you can replace items using indexing, here item 2 (indexed at 1) is replaced

print(whats_in_my_fridge)

In [ ]:
del whats_in_my_fridge[2] #if I ate my leftovers, we can delete it from the list like so

print(whats_in_my_fridge)

**Slicing** is how data is often selected in Python. Use the index plus `:`. The `:` can be read as _up to but not including_ .

For example, `2:10` means _item indexed at 2 up to but not including item indexed at 10_. If you don't Include a start point or an end point for slicing, Python will start at the very beginning of the index or go to the very end of the index.

In [ ]:
whats_in_my_fridge[0:2] # select the first item (with index 0) up to but not including the third item

In [ ]:
whats_in_my_fridge[2:] # select item 3 up to the end of the list. If we wrote [:2], Python would have fetched the very beginning up to but not including item 3.

In [ ]:
what_i_want_in_fridge = ['apples']

tomorrow_in_my_fridge = whats_in_my_fridge + what_i_want_in_fridge

tomorrow_in_my_fridge # you can also add two lists to combine them

In [ ]:
whats_in_my_fridge.append('spring rolls') # each data type has associated 'methods and attributes'. For example, lists have the .append() method which adds a new specified item

# it is very useful to learn more about possible methods and attributes of your data types as they will make programming much easier, we will discuss these soon

print(whats_in_my_fridge)

In [ ]:
whats_in_your_fridge = whats_in_my_fridge # let's create a new list based on our old list

whats_in_your_fridge[1] = 'hummus' # let's change one item in this new list

print(whats_in_your_fridge, whats_in_my_fridge) # wait, we changed YOUR fridge, why did my fridge change too?

In [ ]:
# variable names refer to the original list, to create a copy which you want to edit completely separately, use the list method .copy()

whats_in_your_fridge = whats_in_my_fridge.copy()

whats_in_your_fridge[2] = 'guacamole'

print(whats_in_your_fridge, whats_in_my_fridge)

### List Comprehensions
If you want to apply the same function to every item in a list, you can use a list comprehension. This is a simple version of what is called a loop, which we will learn more about later. This takes on the following format:

> [_action_ `for` _dummy_item_name_ `in` _list_ ]

Python interprets this as the following:

1.   Take the first item in the list and temporarily label it `dummy_item_name`
2.   Perform _action_ on the item labelled as `dummy_item_name`
3.   Put result in a new list
4.   Repeat steps 1-3 for the next list item until the list is complete

By doing this, we quickly create a new list based on our last list.

In [ ]:
[len(dummy) for dummy in whats_in_my_fridge] # here we get the length of each string in the list, we can literally use anything for the dummy name

In [ ]:
new_list = [item[0] for item in whats_in_my_fridge] # here is another example where we get the first letter of every item, to save it we need to assign it to a new name

new_list

Other tricks with lists can be found here: https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range .

## Tuples

Tuples are objects stored together. These objects cannot be altered, which makes tupels and lists different. Instead of being stored in **square** brackets, tuples are stored in **round** brackets. If you have one item, you can just follow it with `,` and it will be a single item tuple.

Again, unlike lists, **tuples cannot be altered**. You can convert them to lists or break them into multiple items and alter them that way.

In [ ]:
cool_tuple = ('ponies', 'unicorns', 'sharks with laser beams on their heads')

type(cool_tuple)

In [ ]:
cool_tuple[2] # indexing works the same way as lists

In [ ]:
# cool_tuple[2] = 'lame animal like a squirrel' # will not work because tuples are immutable

In [ ]:
item_1, item_2, item_3 = cool_tuple # you can break tuples up into individual elements by assigning each to a variable

print('I want', item_1, ', ', item_2, 'and especially', item_3)

In [ ]:
# del cool_tuple[2] # again, tuples do not support any sort of alteration

In [ ]:
cool_list = list(cool_tuple) # tuples CANNOT be changed, but you can turn them into a list and then altered that way

cool_list # notice the square brackets

In [ ]:
another_cool_tuple = True, # if you want a tuple with one item, you don't even need brackets, just put a comma after the object

cool_tuple + another_cool_tuple # adding tuples just causes them to get combined together, you can assign this to a new variable if you'd like

## Other Data Types

As mentioned, there are many other data types. Some are only available after loading a specific library into Python. As you load new libraries, check its documentation to learn more about how you can effectively use its elements including tailor-made data types. We will also introduce several specific data types as we go along.

## Operations With Common Data Types

In [ ]:
# Understanding check: adjust these variable types

meaning_of_life = 42

# turn this variable into a string using the str() function, save as a new variable called meaning_of_life2

meaning_of_life2 = str(meaning_of_life)

In [ ]:
# after, turn the variable back into a integer and overwrite it using the same name

meaning_of_life2 = int(meaning_of_life2)

In [ ]:
# get the first 3 letters of the second item in my fridge

whats_in_my_fridge[1][:3]

In [ ]:
# What is the difference between =, == and is in Python?

# What is 0 indexing?

# Which one of these two can we edit: lists or tuples?

In [ ]:
# how do we unpack the following tuple into drink_1, drink_2 and drink_3

drinks = ('mate', 'coffee', 'Redbull')

drink_1, drink_2, drink_3 = drinks

In [ ]:
# manipulate the following list

numbers = [100000, 10, 1, .01, 100, 2]

# remove the second number from this list
del numbers[1]

# change the first number to 33
numbers[0] = 33

# add 45 to the end of this list
numbers.append(45)

# multiply each of these numbers by 2 using a list comprehension
[n*2 for n in numbers]

# More About Object-Oriented Programming (Classes, Methods, Attributes)

Python is an object-oriented language. Every element of code that you encounter is called an 'object'. Each 'object' has a 'class' or 'type'. The class or type of an object dictates how it can interact with other objects.

In Object Oriented Programming (OOP), there is generally a difference between class and type. However, since Python 3, these ideas have been merged. Traditionally, types are built-in with the original program. Primitive types are the most basic objects built in the program, like string or integer. Classes are created by users for different functions. So you can create a class, but you cannot create a type. Each time you create an object, it is called an **instance** of that class/type.

 **However, as mentioned, now the idea of class and type have been merged in Python 3**.

Every data type/class has its own methods and attributes attached to it. It is very useful to get to know these as they encompass common tasks which may otherwise require you to import functions which are not actually necessary.

**Methods** are functions specific to the class/type of your object. **They will always use your object as its first argument, since this is done automatically by calling a method, you do not have to write this explicitly**. They can sometimes take additional arguments as well. Check the documentation of the object to see what other method arguments exist.

The format to call one of your object's methods is as follows:


```
object_name.method(possible_arguments_if_any)
```

**Attributes** are properties of your object which can be displayed. The format to call them is similar but note the absence of parentheses:

```
object_name.attribute
```
Attributes are more common in more advanced data types. In the final section for today, we will see some with NumPy arrays.

Let's see an example of a class that we create ourselves:

In [ ]:
class person(): # let's create a new class called person, typically upon creating a new instance of this class, you'd assign it to a variable name as we've been doing above
    """Class person for human interaction"""
    def __init__(self, name, age=None): # this says that upon creating a instance of an object of class person, we need to give it a name and an age (otherwise age will be None)
        """
        We can write help text like this starting and ending 
        with three quotations.
        """
        self.name = name # here's how we assign attributes, now if we call the variable which represents our person and add .name, we will see this person's name
        self.age = age # same thing, this time for age
        
    def happy_birthday(self): # here is a method for our person object, when we call variable_name.happy_birthday(), the following will be run
        """Wish a happy birtday"""
        print(f'Happy Birthday, dear {self.name}.') # we get a little birthday wish!
        if self.age is not None: # and they go up in age
            self.age += 1
            print(f'{self.age} years, eh?') # and they get that loving reminder of how many times they've successfully made it around the sun
        return None
    
    def greeting(self): # note in all of these methods, self was the first argument showing that for every method, by default, the first argument is the object itself (hidden by Python)
        """Greet the person"""
        print(f'Hi {self.name}! How are you doing?') # here we can create a method where we are greeting our person object
        return None

In [ ]:
dracula = person('Vlad Tepes', age=588)

dracula #__main__ means that this is defined in the main module (defined here)

In [ ]:
dracula.name # check attribute name, remember attributes use no parentheses, it is a characteristic of our instance/object

In [ ]:
dracula.age # check attribute age

In [ ]:
dracula.happy_birthday() # use the method happy_birthday(), now the happy_birthday() function will be applied to our instance of person (dracula)

In [ ]:
dracula.age # check to see if the method worked (he got 1 year older)

In [ ]:
dracula.age = 588 # we can change an attribute like so

In [ ]:
# Check your understanding: Greet Dracula using our previously created method. Although the argument method can be left blank, what is included in the arguments of this method behind the scenes?

dracula.greeting()

In [ ]:
# Dracula prefers the name Count Dracula, can you change his name to a string with this text?

dracula.name = 'Count Dracula'

The above example on creating our own class and equipping it with attributes and methods helps us to better understand some of the things we did earlier on. In fact, we have made used of OOP concepts ever since starting this demo notebook, just that we did not notice (or had to bother). To stress this point, let's come back to the list data type discussed above. 

**Lists** have many useful methods. You can view some of the most useful here: https://docs.python.org/3/tutorial/datastructures.html .

Let's observe some examples:

In [ ]:
words_i_like = ['fuzzy', 'muffle', 'truck']  # nothing new here

words_i_like.append('roar')  # ok, so when using the function append(), we actually call a method in the class list, just as if we call method greeting() in our class person
 

words_i_like.reverse()  # yet another call of a method. This time, however, the method does not require us to specify an argument. The entire functioning 
# of the method is based on data that is stored together with the object. Here, this data are just the entries in the list

words_i_like  # notice how the order of words that we like has changed.

In [ ]:
words_i_like.sort(reverse=True)

words_i_like

In [ ]:
# Check your understanding: Pop the last item off the list using the appropriate method, note that this method removes the last item forever

words_i_like.pop()

**Strings** also have many methods associated. You can review all here: https://docs.python.org/3/library/stdtypes.html#string-methods .

In [ ]:
sea_shells = 'she sells sea shells by the sea shore'

sea_shells.upper() # upper case method, this does not overwrite the variable in all caps

In [ ]:
# Check your understanding: Split the string by blank space (' ') using a method and appropriate argument

sea_shells.split(sep=' ')


We will see more attributes in more complex objects like the NumPy array coming up later in the demo notebook.

Check your understanding: What is a method and what is an attribute? How are they similar and how are they different?

# If-Statements and Loops

If-Statements evaluate a condition and proceed in a certain fashion based on the returned value.

Loops perform an action recursively until a condition is met or the action has been performed on all applicable items.

## If-Statements
If-Statements in Python take the form:


```
if condition == True:
 action
else:
 action
 ```

If there are multiple conditions, you can extend this with elif (as many times as needed):
```
if condition_1 == True:
 action
elif condition_2 == True:
  action
elif condition_3 == True:
  action
...
else:
 action
 ```
Let's observe some simple if-statements.

In [ ]:
if 1 > 2 :
  print('logic!')
else:
  print('no logic :(')

In [ ]:
if 2 > 1 :
  print('logic!')
else:
  print('no logic :(')

In [ ]:
places_to_visit = ['area 51', 'bermuda triangle', 'el dorado']

if 'atlantis' not in places_to_visit: # for lists, we can use 'in' and 'not in' to return a Boolean
  places_to_visit.append('atlantis')
else:
  places_to_visit

places_to_visit

In [ ]:
toothbrushes_packed = 100 # adjust this to be 0, 1 and above 1 to demonstrate different results

if toothbrushes_packed == 0:
  toothbrushes_packed += 1 # this format adds 1 to the variable on the left, it is another useful trick for loops
  print('Thanks for reminding me, I just packed', toothbrushes_packed, '!')
elif toothbrushes_packed == 1:
  print('All set! I already packed', toothbrushes_packed, '!')
else:
  print('Oops, looks like I put', toothbrushes_packed, 'in my bag. I\'ll just take one.') # we need to put \ in front of ' so that Python treats ' as a character and not the end of the string
  toothbrushes_packed=1 # reset the variable back to 1

toothbrushes_packed

## Loops

Loops iterate through a sequence of items (such as a list) and perform an action on each item.

For-loops are the most common type of loop that you will encounter. They take the following form:

```
for dummy_item_name in sequence:
  ... dummy_item_name ...
```

To process this, Python will take each item in sequence one by one and temporarily assign it to the variable name `dummy_item_name`. The action on the next line will then take that item by using dummy_item_name execute it accordingly.

1.   Take the first item in the sequence and temporarily label it `dummy_item_name`
2.   Perform _action_ on the item with it labelled as `dummy_item_name`
3.   Repeat steps 1-2 for the next item until the sequence is complete

We have already seen this type of structure in list comprehensions which are like a condensed for-loop to create new lists from items of another list.

In [ ]:
place_name_length=[] # initializing an empty list before the loop allows us to simply add items to it within the loop

for place in places_to_visit: # for each item in places_to_visit, assign the temporary label 'place'
  place_name_length.append(len(place)) # apply this action to each item 'place' one by one

place_name_length

In [ ]:
for index, place in enumerate(places_to_visit): # enumerate() gives an index number for each item in the list
  print('My number', index+1, 'place to visit is', place) # since indexing starts at 0, it is more natural when counting for us to add 1

In [ ]:
num_list = [10, 2, 6, 4, 8]

for num in sorted(num_list):
  print(num**2)

In [ ]:
# Check your understanding:

# create the two variables: apples with the value 10 and oranges as 2. Create an if-statement which returns 'sweet, more apples!' if apples is larger than oranges, otherwise 'darn, more oranges'

apples = 10
oranges = 2

if apples > oranges:
  print('sweet, more apples!')
else:
  print('darn, more oranges!')

# change oranges to be 100, and check that the output changes

In [ ]:
# Check your understanding:

# Use an if-statement to check if the Boolean value of True is equal to 1, if it is, print 'So... True is the same as 1 in Python', otherwise it prints 'Wait, what?'

if True == 1:
  print('So... True is the same as 1 in Python')
else:
  print('Wait, what?')

In [ ]:
# Check your understanding:

# Create a for-loop that returns a list of squares (call this some_nums_sq) for the list some_nums = [20, 2, 22, 0.2]

some_nums = [20, 2, 22, 0.2]

some_nums_sq = []
for n in some_nums:
    some_nums_sq.append(n ** 2)

some_nums_sq

# Dictionaries

Dictionaries are another data type. While they may look like lists, their main focus is storing items as key-value pairs. There is a label (key) which corresponds with a value or set of values.

This system makes it very easy to look up values according to specific keys. If you imagine key's as column (or row) names, values could be column (row) values. As you can imagine, this means that many dictionaries are very easy to turn into common data structures which we will be using later on.

Dictionaries have the following form:


```
dict_1 = {key_1 : value_1, key_2 : value_2} # for one value per key
dict_2 = {key_1:[value_1_1, value_1_2,...], key_2:[value_2_1, value_2_2,...], ...} # use lists for multiple values per key
```
It is also possible for a key's value to be another dictionary (dictionary-ception!). You may see this in practice.

Let's take a look at some examples of dictionaries and how to use them.

In [ ]:
new_dict = {} # how to initialize a new dictionary for a loop

In [ ]:
l_countries_capitals = {'Lesotho' : 'Matheru', 'Laos' : 'Vientiane', 'Luxembourg' : 'Luxembourg'}

l_countries_capitals.keys() # check the keys of the dictionary

In [ ]:
l_countries_capitals.values() # check values in the dictionary

In [ ]:
l_countries_capitals['Laos'] # look up a specific value

In [ ]:
l_countries_capitals['Lebanon'] = 'Sidon' # add a new value, then edit it later

l_countries_capitals # note that unlike lists, order in dictionaries is not fixed, Lebanon was not attached at the end

In [ ]:
l_countries_capitals['Lebanon'] = 'Beirut'

l_countries_capitals

In [ ]:
'Luxembourg' in l_countries_capitals # check if the key exists in the dictionary with in

In [ ]:
if 'Laos' in l_countries_capitals: # this is very useful for creating if-statements
  print('Sabaidi!')

In [ ]:
if 'Latvia' in l_countries_capitals:
  print('Sveiki!')
else:
  print('Aww, we should add them!')

In [ ]:
for key, val in l_countries_capitals.items(): # iterate over a dictionary using .items(), this will return a tuple of (key, value) which we can break up immediately
  print('So, we have', val, 'which is the capital of', key, '.')

In [ ]:
# Check your understanding: create a dictionary called aus_animals whose keys are the strings mammal, reptile and bird.
# Assign the values crocodile, emu and kangaroo to the correct key

aus_animals = {"mammal":"kangaroo", "reptile": "crocodile", "bird": "emu"}

# look up the keys of your dictionary using the right method

aus_animals.keys()

In [ ]:
# look up the values of your dictionary using the right method

aus_animals.values()

In [ ]:
# check the value stored under the key "bird"

aus_animals["bird"]

In [ ]:
# change the value of the mammal key to koala

aus_animals["mammal"] = "koala"

In [ ]:
# use the .update() method on aus_animals and use the following dictionary as the argument and describe the change:

more_animals = {"amphibian": "tree frog", "bird": "cockatoo"}

aus_animals.update(more_animals)

aus_animals

In [ ]:
# use a for loop to print the following sentence for each animal: A classic Australian [animal type] is a [example animal]

for key, value in aus_animals.items():
  print("A classic Australian", key, "is a", value)

# Functions

There are a large number of functions available in Python which perform specific tasks. We already saw one function, `print( )`. If a function for your purpose doesn't exist, you can always create your own very simply.

Inside the parentheses of functions are **arguments**. These give more details on what actions the function should take. Arguments are separated by commas.

## Pre-Built Functions
Python comes with some functions already built in for very basic uses. Most of the time, you will have to import other libraries to do pretty much anything with the program. Here are some examples of built-in functions in Python:

In [ ]:
round(3.14, 1) # round takes 2 arguments, the first argument is the number to round and the second is the number of desired decimal places

Some functions require you to specify the argument name as well. For example, `print( )` allows us to add a separator between items to print. You must specify this argument by typing `sep=` and identifying the character to print between items.

In [ ]:
print('please', 'bring', 'snacks', sep='...')

A full list of Python's built in functions are here: https://docs.python.org/3/library/functions.html .

Some of the most important functions here are ones that force variables to become different types such as set( ), str( ) and range( ) among others. You wil learn about these types in the next topic of the tutorial.

As mentioned, in most cases, you will be loading a **library** of new functions to add to these built-in functions. We will be looking at libraries soon.

## Creating Functions

It is very easy to create your own new function in Python. The following form is necessary:


```
def function_name (arg1, arg2 = default_value, arg3 ...):
    ...arg1...arg2...arg3...
    return val;
```

Let's look at some examples.

In [ ]:
def div_two(x):
    return x/2

div_two(500)

In [ ]:
def add_dramatic_pause(word1,word2, drama_level=1):
  """ Puts a desired number of elipses between two words. 
  Very useful if you want a lot of drama. """ # using three quotation marks is standard to describe your function, this is a multi-line comment
  dramatic_phrase = word1 + '...'*drama_level + word2
  return dramatic_phrase

add_dramatic_pause('I\'ll come back', 'never!') # since drama_level has a default value of 1, we can omit it in the call if that level is ok

In [ ]:
last_words = add_dramatic_pause('please', 'bring me a cookie', drama_level=3) # by using return, you can assign the output to a variable

last_words

In [ ]:
def create_pizza_controversy(): # your whole function can just be an execution of other functions
  pizza_drama = add_dramatic_pause('In my opinion', 'pineapple doesn\'t belong on pizza', drama_level=2)
  return pizza_drama

create_pizza_controversy()

## Lambda Functions

We can also create short functions using the following format:
```
function_name = lambda arg1, arg2: ...arg1...arg2
```
Let's create a similar example to before using this format.

In [ ]:
exclamatory_drama = lambda word1, word2, drama_level=1: word1 + '!!!'*drama_level + word2 + '!!!'*drama_level

exclamatory_drama('please', 'bring me a cookie') # we can adjust drama_level here too if we want, it is by default set to 1

In [ ]:
# Check your understanding: create a function which changes degrees in Fahrenheit to Celsius (first subtract 32, then multiply by 5/9)

def f_to_c(temp_f):
  return (temp_f - 32) * (5/9)

# Many American recipes ask to set the oven to 425F, what is that in C? (~ 218 C)

f_to_c(425)

In [ ]:
# Check your understanding: create the same function as a lambda function and test the value 425 F again

f_to_c_lambda = lambda temp_f: (temp_f - 32) * (5/9)

f_to_c_lambda(425)

# Getting Help

Use `help()` to get more information about any class of an object or function. It is optional to use quotes for this. If you need help about a specific function in a libary, that library must first be installed and imported.

If you type `help()` without an argument, Python will begin prompting you for what you need.

While you will likely spend a long time browsing blogs for working examples or StackOverflow for solutions to problems, it is often a good idea to read up on different elements of Python from the direct site or creators of its libraries (https://www.python.org/about/help/).

In [ ]:
help(print)

In [ ]:
help('print')

In case you are lazy with typing, just like me, you can also use the following shorthand form to get the same type of help output.

In [ ]:
print?

In [ ]:
help()

# Libraries

Python has a plethora of libraries which serve an even more enormous amount of purposes. In this course, you will encounter a lot of NumPy, pandas, matplotlib, seaborn and scikit-learn. Many others will likely come of use which you may have to dig into yourself for your own purposes.

To begin using a library, we must install it. This can be done in several ways:

1.   Install manually via Anaconda Netvigator (Environments)
2.   Install via Anaconda terminal (advised at set-up stage) - recommended
3.   Install in Jupyter notebook (`!{sys.executable} -m pip install numpy` OR `!conda install --yes --prefix {sys.prefix} numpy`)
4.   Install in Jupyter notebook via `!pip install` - suitable when using Colab but not recommended when running a notebook on your local machine

After a successful installation, you must import it. Often, we will use `as` afterwards to give it an alias. There are common aliases for many libraries. For example, NumPy is always given np and Pandas, pd.

If you want to use a specific function from this library, first type the library name (or alias) and then `.`, then the function name. You can also rename the function for simpler use later.

In [ ]:
# !pip install numpy

In [ ]:
# math functionality
import numpy as np
# data frame capabilities similar to data.table in R
import pandas as pd
# plotting functionality
import matplotlib.pyplot as plt
%matplotlib inline
# statistical data visualization
import seaborn as sns
# scikit-learn (sklearn) is *the* standard package for machine learning in python

In [ ]:
np.mean([2, 4, 6])

In [ ]:
average = np.mean # this now assigns the variable average to act like np.mean()

average([2,4,6])

If you only want to import a specific function from a library instead of the whole thing, you can use the following format:

> from _library_ import _function_

This saves disc space and reduces the chance that you'll have multiple functions of the same name imported. 

You also do not have to write the library name in front of the function when you do this.

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()  # don't worry about what a StandardScaler might be and what it can do for now

# NumPy

This package is one of the most important to understand for data science and business analytics. It includes many functions and data types that speed up task time when dealing with numbers. 

One of the most useful data classes is the **NumPy array**, which only allows the storage of one data type at a time (unlike a list, tuple or dictionary where entries can be anything). This means that calculations are faster and more efficient. The documentation for NumPy arrays is here: https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html .

In [ ]:
# !pip install numpy # install NumPy if you haven't yet

In [ ]:
import numpy as np

ourlist = [1,2,3,4,5]

ourlist

In [ ]:
np.array(ourlist) # convert list to an NumPy array, here we must indicate to Python that we are taking the array function from the NumPy library by putting np. in front of array()

In [ ]:
print(np.sqrt(ourlist),np.exp(ourlist)) # NumPy functions will often apply a transformation to each element individually

In [ ]:
listoflists=[[1,2,3],[4,5,6],[7,8,9]]
listoflists

In [ ]:
np.array(listoflists) # if we have many lists, they will be converted to multiple arrays, each array can be seen as a dimension (like coordinates x, y, z)

In [ ]:
np.arange(0,10)

In [ ]:
np.ones((3,4)) # matrix with all 1s

In [ ]:
np.linspace(0,5,10) # returns evenly spaced numbers over a specified interval

In [ ]:
np.eye(6) # identity matrix

In [ ]:
# setting a value with index range (broadcasting)
some_array = np.arange(0,20)
some_array[0:5]=0
some_array

In [ ]:
#Important note!
slice_of_some_array = some_array[0:4] # let's take a slice of this array and assign it to a new variable
slice_of_some_array

In [ ]:
slice_of_some_array[:] = 999 # change some values in the array
slice_of_some_array

In [ ]:
some_array # remember how when we changed a renamed list, the original list changed? Same problem!

In [ ]:
slice_of_some_array=some_array[0:4].copy() # create a separate duplicate to change independently
slice_of_some_array

In [ ]:
slice_of_some_array[:]=0 # reset some values
some_array # now we see no changes occurred to the original

In [ ]:
x = 10

some_array > x # creates an array which checks if each item in the array satisfies the condition

In [ ]:
some_array[some_array > x ] # this will now only display items in the array for which the condition is True (>10), this is an easy way to filter for a condition

In [ ]:
# randomisation will matter a lot for us
np.random.randn(2,4)

In [ ]:
# return random integers from 'low' (inclusive) to 'high' (exclusive)
np.random.randint(1,100,5)

In [ ]:
other_array = np.arange(25)
other_array # other_array.TAB will show you which methods you can use

In [ ]:
other_array.max() # common method for arrays

In [ ]:
other_array.reshape(5,5) # another important method

In [ ]:
other_array.shape # this is an ATTRIBUTE rather than a method, hence no () at the end

In [ ]:
# Check your understanding: create a NumPy array of the numbers 0, 10, 20, 30

new_array = np.array([0, 10, 20, 30])

# print the max, min, sum and standard deviation of the array using methods

print(new_array.max(), new_array.min(), new_array.sum(), new_array.std())

In [ ]:
# get the first element of the array using slicing
new_array[0]

In [ ]:
# get the last two elements of the array
new_array[-2:]

In [ ]:
# Reshape the new array to 2x2

new_array.reshape((2,2))

# Pandas

The Python package 'pandas' provides fast and flexible data structures that make handling data easier. It incorporates data structures and different functions for manipulating tabular data. You will be using this library quite a lot throughout your time as a data scientist or a business analyst. It is very useful to have a strong grasp of how it works.

Pandas provides two main data structures:

*   Series
*   DataFrames

You can always check out the documentation which includes many alternative explanations for this library here: https://pandas.pydata.org/docs/

In [ ]:
import pandas as pd # first we have to import the library, the common alias for pandas is pd


## Pandas Series

Series are defined as one dimensional, labelled vectors that are capable of carrying any data type. They are comparable to a column of a dataset. If you have your data initially as a list or a NumPy array, you can easily convert the object to a pandas series using `pd.Series(object)`.

A good question: How does a Pandas Series differ from a list in Python? Python list items always use 0 indexing and cannot be renamed. Series allow for re-indexing using custom names. This is useful if there are specific row names that we want to use in our data set.

In [ ]:
Anna = pd.Series([3, 2, 0, 1, 2]) # create a new series with values, note that the argument is in list-format
print(Anna)

John = pd.Series([1, 4, 2, 0, 0]) # example with a list of numeric values but we can use any data type
print(John)

In [ ]:
# As you can see, both these series automatically use 0 indexing, however we can customise this!

Taylor = pd.Series([2, 5, 1, 1, 1], index=whats_in_your_fridge) # set the index argument to equal label names in the form of a list. Lengths must be equal!
print(Taylor)

In [ ]:
len(whats_in_your_fridge) # check length using the len() function, works for lists, dictionaries and even strings!

In [ ]:
Anna[2:] # you can also perform slicing on Series

In [ ]:
Taylor.name = 'Taylor' # label the whole series by setting the .name attribute, this will be the column label when we add it to a DataFrame

You can see all the methods and attributes associated to Series on the official pandas website: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html .

There are also plenty tutorials on YouTube which can teach you a lot of other useful tricks with Series.

## Pandas DataFrame

A DataFrame is a data structure with two dimensions: columns and rows. Each column can have a different datatype and all can be contained in the same DataFrame simultaneously. This is perfect for business analytics and data science cases.

### Creating DataFrames
To create a DataFrame, you can use dictionaries, Pandas series, lists or NumPy arrays using the `concat()` function.

In [ ]:
# Create a data frame from scratch

pantry_inventory = {
    'food' : ['flour', 'sugar', 'baking_powder', 'baked_beans', 'tomato_sauce'], # each of these dictionary keys are column names, and the values are contents of the columns
    'person_a' : [3, 2, 0, 1, 1], 
    'person_b': [0, 3, 7, 2, 0],
    'person_c': [0, 1, 1, 0, 0],
    'person_d': [1, 1, 2, 5, 1]
}

print(pantry_inventory)

pantry_inventory_df = pd.DataFrame(pantry_inventory) # you can convert dictionaries to DataFrames

pantry_inventory_df

In [ ]:
# Combining Series to create a DataFrame

fridge_inventory_df = pd.concat([Anna, John], axis=1) # axis = 1 refers to columns, as such pandas will treat person_a and person_b as columns and put them beside each other

# if instead we used axis=0, pandas will treat person_a and person_b as rows and paste person_b vertically below person_a

print(fridge_inventory_df)

type(fridge_inventory_df)

### Naming of Columns and Index

DataFrames can add row names and column names (also known as a row index/indices and column index/indices). This will be useful when we have to refer to rows or columns later on.

In [ ]:
# We can then set the column index 
fridge_inventory_df.index = whats_in_my_fridge # use a pre-existing list with the same length again, you can also create a new list here
# fridge_inventory_df.index = ['cucumber', 'humus', 'margarine', 'tomato', 'spring_rolls'] # this gives the same result

# We can also add a row names (row index)
fridge_inventory_df.columns = ['person_a', 'person_b'] # or specify with a new list
print(fridge_inventory_df)

In [ ]:
# Set index using an existing column

pantry_inventory_df = pantry_inventory_df.set_index('food') # the argument must be the column's name as a string
print(pantry_inventory_df)

### Slicing and Dicing with Pandas

We had a little introduction to indexing and slicing before. Now we are dealing with a two dimensional DataFrame. This requires additional information on indexing. We can do this easiest with `.loc[]` (location) and `.iloc[]` (integer location) in this section.


#### .loc[ ]

This function is used for labels which means we will refer to the specific row names and column names. If we use `:` for slicing, it will include all of the rows or columns in between. Note that when using `loc[]`, the end of the selection is included.

In [ ]:
# How many baked beans does person_a have? 
                        # rows      # columns
pantry_inventory_df.loc['baked_beans', 'person_a']

In [ ]:
# When selecting multiple rows and columns, the same rules apply as before. We can use ':' to set a range

pantry_inventory_df.loc[ 'sugar':'tomato_sauce', 'person_a':'person_c'] # note that unlike slicing with numbers, .loc slicing includes the final column

#### .iloc[ ]

Integer location or `iloc[] `instead uses numeric positions of columns. The format of these numbers is identical to slicing. Note that unlike `loc[]` but similar to regular slicing, the end of the selection is excluded in the result. If you'd like to include everything up to the end of the index, you can simply end the slice with `:`.

In [ ]:
pantry_inventory_df.iloc[1:5, 0:3] # The same data frame as above, just using .iloc instead

In [ ]:
pantry_inventory_df.iloc[:, :2] # just like slicing, to select all rows for example from the columns up until 'person_b', set ':' as the first argument in iloc[]

### Changing DataFrames

When working with DataFrames, there are several operations we can do to ensure they are in the format we ultimitaly need it in. We will go through the following:


1.   Adding and Extracting Columns 
2.   Inner and Outer Joins
3.   Appending DataFrames
4.   Transposing DataFrames

#### Adding and Extracting Columns

In [ ]:
# You can also simply name your new column, then set it equal to the values for that column
fridge_inventory_df['person_d'] = [0, 0, 1, 0, 1]
fridge_inventory_df

In [ ]:
# You can extract a pandas series from a column 
person_d =  fridge_inventory_df.person_d # one way, only works if the column already exists
# person_d = fridge_inventory_df['person_d'] # this would also work
type(person_d)

#### Inner Join

Let's say two columns that you want to add together have different row names. You should join the data based to make sure your relevant rows match up. As such, like in SQL and set theory, we can specify for the `concat()` function to use an inner join (only allow matches to show up in result). If you are unfamiliar with set theory, it is important to refamiliarize yourself with the topic as it is very useful in dealing with data.

In [ ]:
pd.concat([fridge_inventory_df, Taylor], join= 'inner', axis=1) # Inner join only combines observations found in both data sets, i.e. magarine gets ommitted

#### Outer Join

As surmisable from its name, outer joins will keep everything possible. As such, there may be certain combinations with values that are missing. For example, if the second data set introduces a new column but does not contain one row in the original data set. In this case, we do not know that row's value for the new column being introduced. An example of this is below.

In [ ]:
# it keeps all obervations and creates missing values (labelled as NaN), which will be discussed shortly
fridge_inventory_df = pd.concat([fridge_inventory_df, Taylor], axis=1) # concat() by default uses an outer join
fridge_inventory_df # person_c has guacamole, which we didn't see in our original df, as such pandas does not know what values to add for other columns

#### Appending Data Frames

To add new rows to a dataframe, we can use the append method and add more rows. This acts identical to `pd.concat([df1,df2],axis=0)`.

In [ ]:
inventory_df = fridge_inventory_df.append(pantry_inventory_df)
inventory_df

In [ ]:
inventory_df = pd.concat([pantry_inventory_df,fridge_inventory_df],axis=0)
inventory_df

In [ ]:
Anna.append(John) # Appending Series works the same

#### Transposing a DataFrame

Transposing is switching the rows and columns of a matrix. We can do tihs a well with the simply attribute `.T`.

In [ ]:
# If instead we want our observations to be per person (rows represent observations generally), we can transpose the DataFrame as well
inventory_df = inventory_df.T
inventory_df

### Missing Values
It will be very common to find missing values here and there in real data sets before they are pre-processed for analysis. Knowing how to deal with them is critical as many calculations do not accept null values.

In [ ]:
inventory_df.isna() # Returns a matrix with boolean whether or not a value is missing

In [ ]:
inventory_df.isna().sum() # You can use the function .sum() to add up the amount of missing values per column

In terms of dealing with these values, we have a few options.

*   Leave them and use arguments to skip them
*   Remove rows or columns with null values
*   Fill all null values with a value (like 0, mean or median)
*   Impute the value using a function (explained later, more advanced)

In [ ]:
inventory_df.dropna()

In [ ]:
inventory_df = inventory_df.fillna(0) # fills all NaN values with the value in the argument, in this case 0
inventory_df

In [ ]:
import pandas as pd
# Check your understanding:

marketing_info_dict = {
    'observation':['obs_1', 'obs_2','obs_3','obs_4', 'obs_5'],
    'recent_visit':[1,0,0,1,0],
    'location':['berlin', 'berlin', 'munich', 'berlin', 'munich'],
    'freq':[0,0,1,1,0],
    'last_purchase':[20.12, 10.54,15.27, 55.10, 27.89],
    'newsletter':[1,0,1,1,1]
}

# convert this dictionary to a pandas DataFrame and save it as marketing_info

marketing_info = pd.DataFrame(marketing_info_dict)

marketing_info

In [ ]:
# set the index to column one using the set_index method
marketing_info = marketing_info.set_index("observation")

marketing_info

In [ ]:
# print the type of the selection of the recent_visit column using one square bracket and two square brackets

print(type(marketing_info['recent_visit']),
      type(marketing_info[['recent_visit']]))

In [ ]:
# use .loc[] to print the value 55.10 in the data frame, then use .iloc[] to do the same

print(marketing_info.loc["obs_4","last_purchase"],
      marketing_info.iloc[3,3])

In [ ]:
# use loc or iloc to select all of row which is indexed at 2. What type of object is this?
print(marketing_info.iloc[2,:], type(marketing_info.iloc[2,:]))

In [ ]:
# select the last purchase column, then use the .mean() method to get its mean

marketing_info['last_purchase'].mean()

marketing_info.last_purchase.mean()

In [ ]:
# find the unique values found in the location column using the method .unique() on the column

marketing_info['location'].unique()

marketing_info.location.unique()

# Random Data Generation

To conduct experiments, it can be very useful to create a random dataset with known properties. Knowing the characteristics of the dataset allows us to confirm the efficacy of quantitative methods.

Python offers functions which facilitate this process. We can take advantage of the NumPy and random libraries to help us create random datasets and collect data from them. We can then use matplotlib.pyplot to display visuals.

In [ ]:
import random
import numpy as np
import matplotlib.pyplot as plt

np.random.seed(123) # set a seed for random number generation so you get reproducible results

In [ ]:
mu = 10 # let's set our mean, for standard normal must be 0
sigma = 1 # set the variance, for standard normal must be 1
n = 10000 # set our sample size

x = np.random.normal(mu, sigma, size=n) # create a sample!

In [ ]:
x[:10] # there is no head.() or .tail() method for NumPy arrays, so use slicing to take a look

In [ ]:
_ = plt.hist(x, bins=100, cumulative=False, histtype='stepfilled') # to create a PDF, we can use a histogram

In [ ]:
_ = plt.hist(x, bins=100, cumulative=True, histtype='stepfilled') # for a CDF, we can use a histogram that is cumulative

Let's use the random number generator to create an entire DataFrame. We just have to insert each of the NumPy arrays into the data argument.

In [ ]:
y = np.random.normal(100, 50, size=n) # create another variable with a different mean and variance

z = np.random.randint(2,size=n) # if you want to create a random dummy variable

df = pd.DataFrame(data=[x,y,z], index=['variable_1', 'variable_2', 'variable_3']) # create a DataFrame

df = df.T # transpose so that each variable is a column rather than a row

df.head() # check that the df appears as expected

# Additional Information

It is highly recommended to get familiar with the basics of Python to unlock its potential. Here is mostly official documentation for the aforementioned topics. There are many other blogs or videos online which explain much about these basics in great detail. It can be helpful to hear these concepts a few times from different people to fully grasp them.

Jupyter Notebook Documentation: https://jupyter-notebook.readthedocs.io/en/stable/

Simple Math Operations in Python: https://docs.python.org/2.4/lib/typesnumeric.html

Python Documentation of Simple Data Types: https://docs.python.org/3/library/stdtypes.html

Python Documentation for Loops: https://docs.python.org/3/tutorial/controlflow.html

Python Documentation for Defining Functions: https://docs.python.org/3/tutorial/controlflow.html#defining-functions 

Overview of Object-Oriented Programming in Python for Beginners: www.youtube.com/watch?v=JeznW_7DlB0 (independent YouTuber)

Python Documentation for Package Installation: https://packaging.python.org/tutorials/installing-packages/

NumPy Beginner's Tutorial from the Official Website: https://numpy.org/doc/stable/user/absolute_beginners.html 

pandas Beginner's 10 min Tutorial from the Official Website: https://pandas.pydata.org/docs/user_guide/10min.html#min

## (Extra) Other Useful Object Types

### Ranges

Create a sequence of numbers using the format:

> `range(start, end, skip)`

This is a very efficient way to create a sequence of numbers with a pattern. 
You can find more information o ranges here: https://docs.python.org/3/library/stdtypes.html#range

In [ ]:
our_numbers = range(10,50,3)

for number in our_numbers: # this is called a for loop, we will learn it soon
  print(number)

### Sets

List where everything is unique. Duplicate items will be removed. Very useful when you need to check membership and differences. Converting a list to a set can be done by simply using the function `set( )` on a list. You can find more information on this type here: https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset.

In [ ]:
set_a = {'cat', 'dog', 'mouse'}

set_b = {'dog', 'wolf', 'hyena'}

set_a.difference(set_b)

In [ ]:
set_a.intersection(set_b)

In [ ]:
set_a.union(set_b)

In [ ]:
set(whats_in_my_fridge) # turn a list into a set