[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Humboldt-WI/bads/blob/master/tutorial_notebooks/2_python_intro.ipynb)

# Tutorial 2 - Introduction to the Python Programming Language
<hr>

In this tutorial, we cover selected basics of the Python programming language including variables and data types, indexing & slicing, control flow, and functions. This version is just a skeleton. We will further develop and discuss  codes in the tutorial session. Please note that a much more comprehensive Python introduction is available for self-study in our [Python for Data Science 1o1 notebook](https://github.com/Humboldt-WI/bads/blob/master/python_data_science1o1.ipynb).

## Basic Math Operations

Let's first use Python as a calculator and see how it behaves. Notice the cells of code as mentioned earlier. Cells often only display one output although all lines of code are executed. If you'd like it to produce multiple at once, it can be useful to use the print command as shown at the end. Python will explicitly print all outputs in any print command (even if there are multiple).

By adding the character '#', you are telling Python to ignore the following characters on the same line. This is called creating a **comment** and can be very useful to explain your code to others.

In [ ]:
1+1 # Python will ignore everything after '#'

In [ ]:
333/10

In [ ]:
1+1/2 # Python follows order of operations

In [ ]:
3 ** 3 # Python uses '**' instead of '^' for exponents

In [7]:
# Understanding check: Calculate the square root of the number 356

## Variables

One very useful feature of every programming language is the ability to give a fixed name to variables. Simply use the formula:

```
variable_name = desired_value
```



**Note:** Your variable names MUST NOT begin with a number, include a dash or space.

After this, every time you type the variable name, Python will refer to the value it has been assigned. If the same variable name is ever used, the value will be overwritten.

Python will consider all types of text as some kind of variable or command. If you ever want to create or reference actual text, it must be between quotation marks. This is called a string in Python. If you want Python to ignore text all together, use '#' to indicate a comment.

In [ ]:
a = 1 # all future cells will now refer to a as 1
b = 2 # similarly, all future cells will refer to b as 2

a+b

In [ ]:
a, b = 1, 2 # assigns variables above in the same way but in one line

a+b

In [ ]:
a = z = 1 # another way to assign multiple variables the same value

z

All math operations work in the same way with variables

In [ ]:
a*5

In [ ]:
b ** 5 # remember '**' means exponent

In [ ]:
a = 500 # if you use the same variable name again, you overwrite the previous value

a+b

In [ ]:
# By default, Python only displays the last line of output from a cell

a*b # This line will be executed in Python, but since the next line causes an output and it comes afterwards, only its output will be displayed

a+b

In [ ]:
print(a*b, a+b) # using print and a comma separating items will print everything

In [13]:
#Can I just write? # this will generate an error because Python will try to look up the value assigned to each word as a variable and find nothing

In [ ]:
a = "you can't add strings to numbers" # if you want to generate text for Python to store in memory, use quotation marks around the text to create a string (str for short)

print(a)

In [ ]:
b = ", but you can add strings together!"

a+b # you can even concatenate (attach) strings if you'd like

In [16]:
# Understanding check: assign the number 42 to the variable named meaning_of_life, then find the remainder of the division of meaning_of_life by 10

In [17]:
# Understanding check: assign the string 'Dude, Where's My Car?' to the variable movie_name, multiply this movie_name by 3, what happens?

## Data Types

There are _many_ data types in Python. To check the type of an object, use the function `type( )`.


The most common ones that you will encounter as a data scientist are:


*   integer (eg. 100)
*   float (eg. 100.0)
*   string (eg. 'Hello World!')
*   boolean (eg. True)
*   list (eg. ['one', 'two', 'three'] )
*   tuples (eg. ('one', 'two', 'three') )
*   dictionary (eg. {'mammal': 'platypus', 'fish': 'eel'} )
*   NumPy array
*   Pandas Series (in future notebooks)
*   Pandas DataFrame (in future notebooks)

Aside from these, you will definitely see many more. Let's explore these a bit.

### Integers and Floats

These are going to likely be the most common types that you will encounter. **Integers are whole numbers** while **floats contain decimals**.

In [ ]:
a = 5

b = 5.0

print(type(a), type(b)) # integers have no decimals while floats do

In [ ]:
int(b) # converts b to an integer, note that if we do not assign this back to b by executing 'b=int(b)', b will not change

In [ ]:
b = int(b)

b

### Strings

Strings are like pieces of text. They are always enclosed between quotation marks, single or double quotes both work. You can convert numbers to strings too. Note that they will now have all the properties of strings.

In [21]:
c = "any text between single or double quotes is a string" # you can use single or double quotes around strings
d = 'any text between single or double quotes is a string'

In [ ]:
a = str(a) # if we want to turn the number that we assigned to a into a string, we can use the str( ) function

a*10 # now instead of 5*10, Python is performing '5'*10 so it will paste '5' 10 times

In [ ]:
a = int(a) # you can change a string back to a number back by using int() or float()

a*10

In [ ]:
print(c[0], c[2]) # you can find the nth letter in a string by enclosing n-1 in square brackets (since Python starts counting at 0)

In [ ]:
len(c) # gives you the number of characters in the string, this can be useful in Natural Language Processing (NLP) and more

**Strings** also have many methods associated. You can review all here: https://docs.python.org/3/library/stdtypes.html#string-methods .

In [ ]:
sea_shells = 'she sells sea shells by the sea shore'

sea_shells.upper() # upper case method, this does not overwrite the variable in all caps

In [ ]:
# Check your understanding: Split the string by blank space (' ') using a method and appropriate argument

### Booleans

**Booleans** take on two possible values (pay attention to capitalisation):
*    `True`
*    `False`

These can be used to evaluate conditions, for example when comparing the value of different variables. Specifically, you can create conditions using one of the following comparision operators:
*   `==` is equal (remember that the operator `=` represents an assignment in Python )
*   `!=` not equal to
*   `>=` greater than or equal to
*   `<=` less than or equal to
*   `is` and `is not` also yield Booleans, however they require exact identity matches unlike `==` and `!=` .

Keep in mind, many other functions and syntax return Boolean values. For example, there is the function ``` isinstance(x, var_type) ``` which returns the corresponding Boolean value if variable x is equivalent to the type specified. Always check functions' outputs so you can handle their data types in an effective way.

`True` also corresponds to the value `1` while `False` corresponds to `0`.

In [ ]:
e = 5

f = 5.00

print(e>f, e==f,  e>=f, e!=f)

In [ ]:
print(e is f) # note that since e is not the exact same as f, "is" returns False

In [ ]:
c = "any text between single or double quotes is a string"
d = 'any text between single or double quotes is a string'

print(c == d) # as mentioned, even though the second uses single quotations, it is equivalent in Python

In [ ]:
print(isinstance(c, str)) # many functions may return Boolean values like this one which checks if variable c is a string (use the short form str)

In [ ]:
print(True == 1, False == 0) # the Boolean value of True is equal to 1, similarly, the Boolean value of False is equal to 0. 
# this will be useful for categorical variables.

In [ ]:
# Python only recognizes False and True as a Boolean value, FALSE and false (TRUE and true) are considered possible variable names.
print(type(False), type(True))

In [34]:
# print(type(FALSE)) # only False works as a boolean value, otherwise, Python thinks it's a variable

We can combine conditions with:
*    `and` (all must be satisfied)
*    `or` (at least 1 must be satisfied)
*    `not` (reverses result)

In [ ]:
p = 1
q = 2

p > q and p < q # since both must be satisfied, but each is mutually exclusive in this case, this must be False

In [ ]:
p > q or p < q # since one of these is true, it is True

In [ ]:
not (p == q) # the expression in brackets is False but 'not' reverses that

In [ ]:
# Understanding check: introduce a variable age and assign it a value of your choice. Write a condition that checks whether the square of age is less than 625

In [ ]:
# Understanding check: introduce a variable num and assign it a value of your choice. Write a condition that checks whether num is an even number

### Lists, Indexing & Slicing

**Lists** are a sequenced container of items. Items can be of virtually any type (strings, other lists, tuples, integers...). Lists are created by putting contents sequentially in square brackets separated by commas. You can initialize an empty list to be filled by putting an empty set of square brackets.

Each item in a list has a uniquely callable position which is called an **index**. Indices can be labelled but can always be referred to by number as well. Numbering in Python always starts at 0. So, to access the first item in a list, you must call `list_name[0]`.  This is called *Zero-Based Indexing* and differs from programming languages like R, which use *One-Based Indexing*.

In [ ]:
just_some_empty_list = [] # initalizing empty lists will be useful later on, this simple trick is worth remembering for loops later

type(just_some_empty_list)

In [ ]:
# create a list just putting items between square brackets separated by commas, you could even create a list of lists!
whats_in_my_fridge = ['cucumber', 'pasta sauce', 'leftovers', 'margarine', 'tomato'] 

whats_in_my_fridge[0] # calls first element of list or the item at index 0

In [ ]:
# items can be called using negative numbers, the final item in the list is index -1, 
# second last is -2 and so on
whats_in_my_fridge[-1]

In [ ]:
# you can replace items using indexing, here item 2 (indexed at 1) is replaced
whats_in_my_fridge[1] = 'kartoffelsalat' 

print(whats_in_my_fridge)

In [ ]:
del whats_in_my_fridge[2] # if I ate my leftovers, we can delete it from the list like so

print(whats_in_my_fridge)

In [ ]:
# Understanding check: create a list to store data of one customer. 
# First invent data of a hypothetical person including name, age, zip code, and e-mail.
# Put all this invented data into one list with name my_cust.

In [ ]:
# Understanding check: print the name and age of your hypothetical customer to the screen
# Spefifically, the output should be formatted in this way: 
# "Hello <name>. Nice to meet you. I see you are <age> years old."

**Slicing** is how data is often selected in Python. Use the index plus `:`. The `:` can be read as _up to but not including_ .

For example, `2:10` means _item indexed at 2 up to but not including item indexed at 10_. If you don't include a start point or an end point for slicing, Python will start at the very beginning of the index or go to the very end of the index.

In [ ]:
# select the first item (with index 0) up to but not including the third item
whats_in_my_fridge[0:2]

In [ ]:
# select item 3 up to the end of the list. If we wrote [:2], Python would have
#  fetched the very beginning up to but not including item 3.
whats_in_my_fridge[2:]

In [ ]:
# you can also add two lists to combine them
what_i_want_in_fridge = ['apples']

tomorrow_in_my_fridge = whats_in_my_fridge + what_i_want_in_fridge

tomorrow_in_my_fridge

In [ ]:
# each data type has associated 'methods and attributes'. For example, lists have 
# the .append() method, which adds a new specified item
whats_in_my_fridge.append('spring rolls') 

# it is very useful to learn more about possible methods and attributes of your 
# data types as they will make programming much easier, we will discuss these soon

print(whats_in_my_fridge)

In [13]:
# Understanding check:
# Above we saw the .append() method. Lists have many more methods. Find a method to print 
# out all items in the list whats_in_my_fridge in descending order.

In [ ]:
whats_in_your_fridge = whats_in_my_fridge # let's create a new list based on our old list

whats_in_your_fridge[1] = 'hummus' # let's change one item in this new list

print('Your frdige: ', whats_in_your_fridge)
print('My frdige: ', whats_in_my_fridge) # wait, we changed YOUR fridge, why did my fridge change too?

In [ ]:
# variable names refer to the original list, to create a copy which you want to edit completely 
# separately, use the list method .copy()

whats_in_your_fridge = whats_in_my_fridge.copy()

whats_in_your_fridge[2] = 'guacamole'

print('Your frdige: ', whats_in_your_fridge)
print('My frdige: ', whats_in_my_fridge)

#### List Comprehensions
If you want to apply the same function to every item in a list, you can use a list comprehension. This is a simple version of what is called a loop, which we will learn more about later. This takes on the following format:

> [_action_ `for` _dummy_item_name_ `in` _list_ ]

Python interprets this as the following:

1.   Take the first item in the list and temporarily label it `dummy_item_name`
2.   Perform _action_ on the item labelled as `dummy_item_name`
3.   Put result in a new list
4.   Repeat steps 1-3 for the next list item until the list is complete

By doing this, we quickly create a new list based on our last list.

In [ ]:
# here we get the length of each string in the list, we can literally 
# use anything for the dummy name
[len(dummy) for dummy in whats_in_my_fridge]

In [ ]:
# here is another example where we get the first letter of every item,
# to save it we need to assign it to a new name
new_list = [item[0] for item in whats_in_my_fridge] 

new_list

In [ ]:
# Understanding check:
# Create a list with 5 arbitrary numbers. Then use list comprehension to create a new
# list called list_of_squares, which stores the squares of the numbers of your original list.

Other tricks with lists can be found here: https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range .

#### Operations with lists 

**Lists** have many useful methods. You can view some of the most useful here: https://docs.python.org/3/tutorial/datastructures.html.

Let's observe some examples:

In [ ]:
words_i_like = ['fuzzy', 'muffle', 'truck']  # nothing new here

words_i_like.append('roar')  # ok, so when using the function append(), we actually call a method in the class list, just as if we call method greeting() in our class person
 

words_i_like.reverse()  # yet another call of a method. This time, however, the method does not require us to specify an argument. The entire functioning 
# of the method is based on data that is stored together with the object. Here, this data are just the entries in the list

words_i_like  # notice how the order of words that we like has changed.

In [53]:
# Check your understanding: Pop the last item off the list using the appropriate method, 
# note that this method removes the last item forever

In [54]:
# Understanding check: manipulate the following list

numbers = [100000, 10, 1, .01, 100, 2]

# remove the second number from this list


# change the first number to 33


# add 45 to the end of this list


# multiply each of these numbers by 2 using a list comprehension

### Tuples

Tuples are objects stored together. These objects cannot be altered, which makes tupels and lists different. Instead of being stored in **square** brackets, tuples are stored in **round** brackets. If you have one item, you can just follow it with `,` and it will be a single item tuple.

Again, unlike lists, **tuples cannot be altered**. You can convert them to lists or break them into multiple items and alter them that way.

In [ ]:
cool_tuple = ('ponies', 'unicorns', 'sharks with laser beams on their heads')

type(cool_tuple)

In [ ]:
cool_tuple[2] # indexing works the same way as lists

In [57]:
cool_tuple[2] = 'lame animal like a squirrel' # will not work because tuples are immutable

In [ ]:
# you can break tuples up into individual elements by assigning each to a variable
item_1, item_2, item_3 = cool_tuple 

print('I want', item_1, ', ', item_2, 'and especially', item_3)

In [59]:
del cool_tuple[2] # again, tuples do not support any sort of alteration

In [ ]:
# tuples CANNOT be changed, but you can turn them into a list and then alter that list
cool_list = list(cool_tuple) 

cool_list # notice the square brackets

In [ ]:
another_cool_tuple = True, # if you want a tuple with one item, you don't even need brackets, just put a comma after the object

cool_tuple + another_cool_tuple # adding tuples just causes them to get combined together, you can assign this to a new variable if you'd like

In [ ]:
# Understanding check:  unpack the following tuple into drink_1, drink_2 and drink_3

drinks = ('mate', 'coffee', 'Redbull')

### Other Data Types

As mentioned, there are many other data types. Some are only available after loading a specific library into Python. As you load new libraries, check its documentation to learn more about how you can effectively use its elements including tailor-made data types. We will also introduce several specific data types as we go along.

## Control flow

To govern the control flow of a program, we need two standard programming constructs, conditions and loops. The former evaluate a condition and proceed in a certain fashion based on the returned value. The latter perform an action recursively until a condition is met or the action has been performed on all applicable items.

### Conditional Statements Using If
If-Statements in Python take the form:


```
if condition == True:
 action
else:
 action
 ```

If there are multiple conditions, you can extend this with elif (as many times as needed):
```
if condition_1 == True:
 action
elif condition_2 == True:
  action
elif condition_3 == True:
  action
...
else:
 action
 ```
Let's observe some simple if-statements.

In [ ]:
if 1 > 2 :
  print('logic!')
else:
  print('no logic :(')

In [ ]:
if 2 > 1 :
  print('logic!')
else:
  print('no logic :(')

In [ ]:
places_to_visit = ['area 51', 'bermuda triangle', 'el dorado']

if 'atlantis' not in places_to_visit: # for lists, we can use 'in' and 'not in' to return a Boolean
  places_to_visit.append('atlantis')
else:
  places_to_visit

places_to_visit

In [ ]:
toothbrushes_packed = 100 # adjust this to be 0, 1 and above 1 to demonstrate different results

if toothbrushes_packed == 0:
  toothbrushes_packed += 1 # this format adds 1 to the variable on the left, it is another useful trick for loops
  print('Thanks for reminding me, I just packed', toothbrushes_packed, '!')
elif toothbrushes_packed == 1:
  print('All set! I already packed', toothbrushes_packed, '!')
else:
  print('Oops, looks like I put', toothbrushes_packed, 'in my bag. I\'ll just take one.') # we need to put \ in front of ' so that Python treats ' as a character and not the end of the string
  toothbrushes_packed=1 # reset the variable back to 1

toothbrushes_packed

In [ ]:
# Understanding check: consider the list my_cust you created above.
# Write a condition to check the customer's age. If larger that or equal to 18,
# print the message 'Thank you. You are old enough to vote.' Else, print the 
# message 'Sorry, you are not eóld enough to vote.'

### Loops

Loops iterate through a sequence of items (such as a list) and perform an action on each item.

For-loops are the most common type of loop that you will encounter. They take the following form:

```
for dummy_item_name in sequence:
  ... dummy_item_name ...
```

To process this, Python will take each item in sequence one by one and temporarily assign it to the variable name `dummy_item_name`. The action on the next line will then take that item by using dummy_item_name execute it accordingly.

1.   Take the first item in the sequence and temporarily label it `dummy_item_name`
2.   Perform _action_ on the item with it labelled as `dummy_item_name`
3.   Repeat steps 1-2 for the next item until the sequence is complete

We have already seen this type of structure in list comprehensions which are like a condensed for-loop to create new lists from items of another list.

In [ ]:
place_name_length=[] # initializing an empty list before the loop allows us to simply add items to it within the loop

for place in places_to_visit: # for each item in places_to_visit, assign the temporary label 'place'
  place_name_length.append(len(place)) # apply this action to each item 'place' one by one

place_name_length

In [ ]:
for index, place in enumerate(places_to_visit): # enumerate() gives an index number for each item in the list
  print('My number', index+1, 'place to visit is', place) # since indexing starts at 0, it is more natural when counting for us to add 1

In [ ]:
num_list = [10, 2, 6, 4, 8]

for num in sorted(num_list):
  print(num**2)

In [ ]:
# Check your understanding:

# create the two variables: apples with the value 10 and oranges as 
# 2. Create an if-statement which returns 'sweet, more apples!' if apples is larger than oranges, 
# otherwise 'darn, more oranges'



# change oranges to be 100, and check that the output changes

In [ ]:
# Check your understanding:

# Use an if-statement to check if the Boolean value of True is equal to 1, 
# if it is, print 'So... True is the same as 1 in Python', otherwise it prints 'Wait, what?'

In [ ]:
# Check your understanding:

# Create a for-loop that returns a list of squares (call this some_nums_sq) for the list some_nums = [20, 2, 22, 0.2]

some_nums = [20, 2, 22, 0.2]

some_nums_sq = []
for n in some_nums:
    some_nums_sq.append(n ** 2)

some_nums_sq

## Dictionaries

Dictionaries are another data type. While they may look like lists, their main focus is storing items as key-value pairs. There is a label (key) which corresponds with a value or set of values.

This system makes it very easy to look up values according to specific keys. If you imagine key's as column (or row) names, values could be column (row) values. As you can imagine, this means that many dictionaries are very easy to turn into common data structures which we will be using later on.

Dictionaries have the following form:


```
dict_1 = {key_1 : value_1, key_2 : value_2} # for one value per key
dict_2 = {key_1:[value_1_1, value_1_2,...], key_2:[value_2_1, value_2_2,...], ...} # use lists for multiple values per key
```
It is also possible for a key's value to be another dictionary (dictionary-ception!). You may see this in practice.

Let's take a look at some examples of dictionaries and how to use them.

In [92]:
new_dict = {} # how to initialize a new dictionary for a loop

In [ ]:
l_countries_capitals = {'Lesotho' : 'Matheru', 'Laos' : 'Vientiane', 'Luxembourg' : 'Luxembourg'}

l_countries_capitals.keys() # check the keys of the dictionary

In [ ]:
l_countries_capitals.values() # check values in the dictionary

In [ ]:
l_countries_capitals['Laos'] # look up a specific value

In [ ]:
l_countries_capitals['Belgium'] = 'Ghent' # add a new value, then edit it later

l_countries_capitals # note that unlike lists, order in dictionaries is not fixed, France was not attached at the end

In [ ]:
l_countries_capitals['Belgium'] = 'Brussels'

l_countries_capitals

In [ ]:
'Luxembourg' in l_countries_capitals # check if the key exists in the dictionary with in

In [ ]:
if 'Latvia' in l_countries_capitals: # this is very useful for creating if-statements
  print('How nice, we have Latvia!')
else:
  print('Aww, we should add them!')

In [ ]:
for key, val in l_countries_capitals.items(): # iterate over a dictionary using .items(), this will return a tuple of (key, value) which we can break up immediately
  print('So, we have', val, 'which is the capital of', key, '.')

In [ ]:
# Check your understanding: create a dictionary called aus_animals whose keys are the strings mammal, 
# reptile and bird.
# Assign the values crocodile, emu and kangaroo to the correct key



# look up the keys of your dictionary using the right method

In [ ]:
# look up the values of your dictionary using the right method

In [ ]:
# check the value stored under the key "bird"

In [105]:
# change the value of the mammal key to koala

In [ ]:
# use the .update() method on aus_animals and use the following dictionary as the argument and 
# describe the change:

more_animals = {"amphibian": "tree frog", "bird": "cockatoo"}

In [ ]:
# use a for loop to print the following sentence for each animal: 
# A classic Australian [animal type] is a [example animal]

## Functions

There are a large number of functions available in Python which perform specific tasks. We already saw one function, `print( )`. If a function for your purpose doesn't exist, you can always create your own very simply.

Inside the parentheses of functions are **arguments**. These give more details on what actions the function should take. Arguments are separated by commas.

### Pre-Built Functions
Python comes with some functions already built in for very basic uses. Most of the time, you will have to import other libraries to do pretty much anything with the program. Here are some examples of built-in functions in Python:

In [ ]:
round(3.14, 1) # round takes 2 arguments, the first argument is the number to round and the second is the number of desired decimal places

Some functions require you to specify the argument name as well. For example, `print( )` allows us to add a separator between items to print. You must specify this argument by typing `sep=` and identifying the character to print between items.

In [ ]:
print('please', 'bring', 'snacks', sep='...')

A full list of Python's built in functions are here: https://docs.python.org/3/library/functions.html .

Some of the most important functions here are ones that force variables to become different types such as set( ), str( ) and range( ) among others. You wil learn about these types in the next topic of the tutorial.

As mentioned, in most cases, you will be loading a **library** of new functions to add to these built-in functions. We will be looking at libraries soon.

### Creating Functions

It is very easy to create your own new function in Python. The following form is necessary:


```
def function_name (arg1, arg2 = default_value, arg3 ...):
    ...arg1...arg2...arg3...
    return val;
```

Let's look at some examples.

In [ ]:
def div_two(x):
    return x/2

div_two(500)

In [ ]:
def add_dramatic_pause(word1,word2, drama_level=1):
  """ Puts a desired number of elipses between two words. 
  Very useful if you want a lot of drama. """ # using three quotation marks is standard to describe your function, this is a multi-line comment
  dramatic_phrase = word1 + '...'*drama_level + word2
  return dramatic_phrase

add_dramatic_pause('I\'ll come back', 'never!') # since drama_level has a default value of 1, we can omit it in the call if that level is ok

In [ ]:
last_words = add_dramatic_pause('please', 'bring me a cookie', drama_level=3) # by using return, you can assign the output to a variable

last_words

In [ ]:
def create_pizza_controversy(): # your whole function can just be an execution of other functions
  pizza_drama = add_dramatic_pause('In my opinion', 'pineapple doesn\'t belong on pizza', drama_level=2)
  return pizza_drama

create_pizza_controversy()

## Getting Help

Use `help()` to get more information about any class of an object or function. It is optional to use quotes for this. If you need help about a specific function in a libary, that library must first be installed and imported.

If you type `help()` without an argument, Python will begin prompting you for what you need.

While you will likely spend a long time browsing blogs for working examples or StackOverflow for solutions to problems, it is often a good idea to read up on different elements of Python from the direct site or creators of its libraries (https://www.python.org/about/help/).

In [ ]:
help(print)

In [ ]:
help('print')

In case you are lazy with typing, just like me, you can also use the following shorthand form to get the same type of help output.

In [ ]:
print?

# Additional Information

It is highly recommended to get familiar with the basics of Python to unlock its potential. Here is mostly official documentation for the aforementioned topics. There are many other blogs or videos online which explain much about these basics in great detail. It can be helpful to hear these concepts a few times from different people to fully grasp them.

Jupyter Notebook Documentation: https://jupyter-notebook.readthedocs.io/en/stable/

Simple Math Operations in Python: https://docs.python.org/2.4/lib/typesnumeric.html

Python Documentation of Simple Data Types: https://docs.python.org/3/library/stdtypes.html

Python Documentation for Loops: https://docs.python.org/3/tutorial/controlflow.html

Python Documentation for Defining Functions: https://docs.python.org/3/tutorial/controlflow.html#defining-functions 

Overview of Object-Oriented Programming in Python for Beginners: www.youtube.com/watch?v=JeznW_7DlB0 (independent YouTuber)

Python Documentation for Package Installation: https://packaging.python.org/tutorials/installing-packages/

NumPy Beginner's Tutorial from the Official Website: https://numpy.org/doc/stable/user/absolute_beginners.html 

pandas Beginner's 10 min Tutorial from the Official Website: https://pandas.pydata.org/docs/user_guide/10min.html#min